{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}

    <p><a class="btn btn-primary btn-sm" href="{{ path('user.create') }}">Creer un utilisateur</a></p>
    <table class="table">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Action<th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
        <tr>
            <td>
                <a href="{{ path('user.show', {id: user.getId() }) }}">{{ user.getUserName() }}</a>
            </td>
            <td>
                <div class="d-flex gap-1">
                    <a class="btn btn-primary btn-sm" href="{{ path('user.edit', {id: user.getId() }) }}">Editer</a>
                    <form action="{{ path('user.delete', {id: user.getId()}) }}" method="post">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" class="btn btn-danger btn-sm">supprimer</button>
                    </form>
                </div>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}